$primary: rgba(53, 53, 53, 0.6);
$black: #282828;
$white: #ffffff;
$light-orange: #eac28f;
$grey: rgba(35, 35, 35, .5);
$light-grey: rgba(77, 77, 77, .5);
$darken-orange: #c68a43;
$btn-press: #f5c063;