$primary: rgba(53, 53, 53, 0.6);
$black: #282828;
$white: #ffffff;
$light-orange: #eac28f;
$grey: rgba(35, 35, 35, .5);
$light-grey: rgba(77, 77, 77, .5);
$darken-orange: #c68a43;
$btn-press: #f5c063;
$active-line: #f4c373;
$active-page: #f9c97b;
$background-content: #edecec;
$btn-color: #202020;
$btn-font: #fecb94;
$footer-dark-color: #646363;
$footer-dark-author: #6f6f6f;
$footer-light-color: #ddb680;
$background-input: rgba(186, 135, 82, 0.03);
$font-placeholder: #dcae7f;