@import "__utillity", "./__colors";
@import url('https://fonts.googleapis.com/css?family=Cabin');

@font-face {
    font-family: 'Circe Regular';
    src: url('../font/Circe-Regular.eot');
    src: url('../font/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/Circe-Regular.woff') format('woff'),
    url('../font/Circe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Circe Bold';
    src: url('../font/Circe-Bold.eot');
    src: url('../font/Circe-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/Circe-Bold.woff') format('woff'),
    url('../font/Circe-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe ExtraBold';
    src: url('../font/Circe-ExtraBold.eot');
    src: url('../font/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../font/Circe-ExtraBold.woff') format('woff'),
    url('../font/Circe-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Circe ExtraLight';
  src: url('../font/Circe-ExtraLight.eot');
  src: url('../font/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../font/Circe-ExtraLight.woff') format('woff'),
  url('../font/Circe-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$fontCabin: 'Cabin', 'Roboto', sans-serif;
$fontCirceExtraLight: 'Circe ExtraLight', 'Roboto', sans-serif;
$fontCirceRegular: 'Circe Regular', 'Roboto', sans-serif;
$fontCirceBold: 'Circe Bold', 'Roboto', sans-serif;
$fontCirceExtraBold: 'Circe ExtraBold', 'Roboto', sans-serif;

.main-title{
    @include font-item($family: $fontCirceExtraBold, $size: 186px, $height: 174px, $weight: 700, $color: $white);
    text-shadow: 0 20px 90px rgba(36, 33, 31, 0.1);
    text-transform: uppercase;
    letter-spacing: 11px;
    @media screen and (max-width: 1650px){
      font-size: 11vw;
      line-height: 11vw;
    }
    @media screen and (max-width: 960px){
      font-size: 36px;
      line-height: 36px;
      text-shadow: 0 15px 60px rgba(61, 61, 61, 0.3);
    }
}

.main-question{
    @include font-item($family: $fontCirceBold, $size: 62px, $height: 80px, $weight: 700, $color: $white);
}

.content-title{
    @include font-item($family: $fontCirceExtraBold, $size: 59px, $height: 59px, $weight: 700, $color: $black);
    word-spacing: 5.2px;
}
.title-card{
    @include font-item($family: $fontCirceExtraBold, $size: 49px, $height: 48px, $weight: 700, $color: $black);
    letter-spacing: 1px;
}
.title-form{
  @include font-item($family: $fontCirceExtraBold, $size: 43px, $height: 39px, $weight: 700, $color: $white);
}
.font-description{
    @include font-item($size: 23px, $height: 23px, $color: $grey);
    letter-spacing: 1px;
}
.font-footer-btn{
    @include font-item($family: $fontCirceExtraBold, $size: 23px, $height: 23px, $weight: 700, $color: $btn-font);
}
.font-text{
    @include font-item($family: $fontCabin, $color: $primary);
    letter-spacing: 1px;
}
.font-number{
    @include font-item($family: $fontCirceBold, $size: 21px, $height: 21px, $color: $primary);
}
.font-footer_light{
  @include font-item($family: $fontCirceExtraBold, $size: 17px, $height: 16px, $weight: 700, $color: $footer-light-color);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.font-footer_dark{
    @include font-item($family: $fontCirceExtraBold, $size: 16px, $height: 16px, $weight: 700, $color: $footer-dark-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}
.font-placeholder{
  @include font-item($family: $fontCirceExtraLight, $size: 16px, $height: 16px, $weight: 300, $color: $font-placeholder);
  text-shadow: 0 59px 137px rgba(0, 0, 0, 0.09);
}
.link-process{
    @include font-item($family: $fontCabin, $size: 13px, $height: 14px, $color: $light-grey);
    transform: scaleY(1.0023);
    text-transform: uppercase;
    letter-spacing: 2px;
}
.button-name{
    @include font-item($size: 13px, $height: 14px, $weight: 700, $color: $btn-color);
    text-transform: uppercase;
  letter-spacing: 2px;
}
.author__font{
  @include font-item($family: $fontCirceExtraBold, $size: 12px, $height: 14px, $weight: 700, $color: $footer-dark-author);
  text-transform: uppercase;
}
