@import "__colors";

$fontCirce: 'Circe', 'Roboto', sans-serif;

@mixin font-item($family: $fontCirce,  $size: 18px, $height: 32px, $weight: 400, $color: $primary) {
  font-family: $family;
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  color: $color;
}