@import "./__colors"; 
@import "./_typography"; 
@import "./__button";
@import "./__utillity";

body,
h1,
h2,
h3,
h4,
p{
    margin: 0;
    padding: 0;
}

body{
  overflow-x: hidden;
}

a{
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}

::-webkit-input-placeholder {color:$font-placeholder;}
::-moz-placeholder          {color:$font-placeholder;}/* Firefox 19+ */
:-moz-placeholder           {color:$font-placeholder;}/* Firefox 18- */
:-ms-input-placeholder      {color:$font-placeholder;}

.wrapper{
    background-color: #ffffff;
    position: relative;
}

.contact{
    position: absolute;
    top: 228px;
    right: 19px;
    @media screen and (max-width: 960px) {
      display: none;
    }
}

.nav-icons{
    background-color:  #ffffff;
    box-shadow: 0px 30px 180px 0px rgba(0, 0, 0, 0.24);
    width: 64px;
    height: 346px;
    .social-icon{
        @include flex($justify: center, $align: center);
        width: 100%;
      button{
        padding: 0;
        outline: none;
        background-color: transparent;
        border: none;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: 1;
        &:hover{
          svg path{
            fill: #c68a43;
          }
        }
        &:active{
          svg path{
            fill: #010101;
          }
        }
      }
        &:first-child{
          height: 64px;
          border-bottom: 2px solid #f0f0f0;
        }
        &:nth-child(2){
            position: relative;
            height: 93px;
        }
        &:nth-child(3){
          height: 26px;
        }
        &:nth-child(4){
          height: 96px;
        }
        &:nth-child(5){
          height: 28px;
        }
    }
}

.social-lines {
    position: absolute;
    top: 46px;
    right: -36px;
    .line-top{
        position: absolute;
        width: 14px;
        height: 1px;
        background-color: #010101;
    }
    .line-bottom{
        width: 50px;
        height: 1px;
        opacity: .25;
        background-color: #010101;
    }
}

.pagination{
    @include flex($direction: column);
    position: absolute;
    top: 447px;
    left: 148px;
    @media screen and (max-width: 1540px){
      left: 24px;
    }
    @media screen and (max-width: 960px){
      display: none;
    }
    z-index: 2;
    &__arrow{
        padding: 30px 0 31px 33px;
    }
    &__arrow-bottom{
      padding: 20px 0 31px 33px;
    }
    &__content{
        display: flex;
        .pages{
            @include flex($direction: column);
            background-color: $white;
            box-shadow: 0 20px 90px 0 rgba(36, 33, 31, 0.15);
            width: 75px;
            height: 389px;
            .active-page{
                position: absolute;
                left: -7px;
                top: -2px;
                background-color:  #f9c97b;
                box-shadow: 0 44px 103px 0 rgba(0, 0, 0, 0.09);
                width: 8px;
                height: 80px;
                .active{
                    color: $active-page;
                }
            }
            .page{
                @include flex($justify: center, $align: center);
                position: relative;
                height: 77px;
                &:first-child{
                  height: 73px;
                }
                &:nth-child(2),
                &:nth-child(3){
                  height: 77px;
                }
              &:nth-child(4),
              &:nth-child(5){
                height: 76px;
              }
                &:not(:last-child){
                    border-bottom: 2px solid #ebebea;
                }
                &__number{
                    transform: rotate(-90deg);
                }
            }
        }
        .right{
            padding-left: 55px;
            @media screen and (max-width: 1024px){
              padding-left: 24px;
            }
            .name-pages{
                @include flex($direction: column);
                height: 396px;
                .name-page{
                    @include flex($align: center);
                    height: 79px;
                    .nonactive-page{
                      @media screen and (max-width: 1024px){
                        width: 150px;
                      }
                    }
                    .active-page{
                        width: 326px;
                        @media screen and (max-width: 1680px){
                          width: 176px;
                        }
                        @media screen and (max-width: 1024px){
                          width: 121px;
                        }
                        height: 2px;
                        background-color: $active-line;
                    }
                }
            }
        }
    }
}

.pagination-mobile{
    display: none;
    @media screen and (max-width: 960px){
        @include flex();
        position: absolute;
        bottom: -11px;
        left: calc(50% - 136px);
        height: 40px;
    }
    .arrow-left{
        transform: rotate(-90deg);
    }
    .arrow-right{
        transform: translateX(24px) rotate(90deg);
    }
    &__arrow{
        padding: 21px 6px 0 0;
        width: 30px;
    }
    &__arrow-bottom{
        padding: 20px 0 31px 33px;
    }
    &__content{
        display: flex;
        .pages{
            @include flex();
            background-color: $white;
            box-shadow: 0 20px 90px 0 rgba(36, 33, 31, 0.15);
            .active-page{
                position: absolute;
                left: 0;
                bottom: -4px;
                background-color:  #f9c97b;
                box-shadow: 0 44px 103px 0 rgba(0, 0, 0, 0.09);
                width: 100%;
                height: 4px;
                .active{
                    color: $active-page;
                }
            }
            .page{
                @include flex($justify: center, $align: center);
                position: relative;
                padding: 0 12px;
                height: 40px;
                &:not(:last-child){
                    border-right: 1px solid #ebebea;
                }
            }
        }
    }
}

//=============================header=============================
.section-header{
    position: relative;
    height: 1044px;
    @media screen and (max-width: 960px) {
        height: 665px;
    }
}
.main-title{
    position: absolute;
    left: 129px;
    @media screen and (max-width: 1540px){
      left: 28px;
    }
    top: 139px;
    margin: 0;
    max-width: 876px;
    @media screen and (max-width: 1024px){
      max-width: 847px;
    }
    @media screen and (max-width: 960px) {
      top: 61px;
      max-width: 100%;
      left: calc(50% - 184px);
    }
    z-index: 2;
}
.card{
    @include flex($direction: column);
    position: absolute;
    right: 221px;
    @media screen and (max-width: 1850px){
      right: 138px;
    }
    top: 232px;
    max-width: 1160px;
    @media screen and (max-width: 1775px){
      right: 125px;
      max-width: 1024px;
    }
    @media screen and (max-width: 1680px){
      max-width: 977px;
    }
    @media screen and (max-width: 1540px){
      right: 100px;
    }
    @media screen and (max-width: 1390px){
      max-width: 608px;
    }
    @media screen and (max-width: 990px){
        right: 90px;
    }
    @media screen and (max-width: 960px){
      max-width: 100%;
      right: 0;
      left: 0;
      top: 107px;
      height: auto;
      box-shadow: none;
      align-items: center;
    }
    height: 910px;
    box-shadow: 0 30px 120px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    z-index: 1;
    &__pagination{
        @include flex($justify: flex-end);
        padding: 75px 41px 211px;
        @media screen and (max-width: 1390px){
          padding: 75px 24px 146px;
        }
        @media screen and (max-width: 960px){
          display: none;
      }
        .link-process{
            @include flex($align: center);
          &:hover{
            color: #c68a43;
            svg path{
              fill: #c68a43;
            }
          }
        }
        svg{
            padding-left: 27px;
        }
    }
    &__pagination_bottom{
      padding: 73px 41px 211px;
      @media screen and (max-width: 1390px){
        padding: 73px 24px 146px;
      }
    }
    &__content{
        padding-left: 140px;
        @media screen and (max-width: 1775px){
          padding-left: 80px;
        }
        @media screen and (max-width: 1680px){
          padding-left: 24px;
        }
        @media screen and (max-width: 1390px){
          padding: 0 24px;
        }
        @media screen and (max-width: 960px){
            padding: 0 20px;
        }
        .wrapper-process{
            display: flex;
            flex-wrap: wrap;
            position: relative;
            @media screen and (max-width: 960px){
                flex-direction: column;
                align-items: flex-start;
            }
            .process-item{
                @media screen and (max-width: 960px) {
                    .photo-card {
                        width: 100%;
                        height: auto;
                    }
                    &:first-child{
                        position: relative;
                    }
                }
                .title-card{
                    padding-bottom: 10px;
                }
                &:nth-child(2){
                    @include flex($direction: column);
                    padding-left: 40px;
                    padding-top: 109px;
                    @media screen and (max-width: 1390px){
                      padding-left: 0;
                      padding-top: 0;
                    }
                }
                &:last-child{
                    max-width: 566px;
                    padding-top: 63px;
                    @media screen and (max-width: 960px){
                        padding-top: 32px;
                    }
                }
            }
        }
    }
}

//=========================content================================
.content{
    width: 100%;
    height: 500px;
    background-color: $background-content;
    position: relative;
    @media screen and (max-width: 960px) {
        height: 240px;
    }
    .main{
        max-width: 1160px;
        border: 1px solid $black;
        padding: 48px 78px 59px 84px;
        @include flex($direction: column);
        position: absolute;
        right: 222px;
        @media screen and (max-width: 1850px) {
          right: 138px;
        }
        @media screen and (max-width: 1775px){
          right: 125px;
          max-width: 1024px;
        }
        @media screen and (max-width: 1680px){
          max-width: 977px;
        }
        @media screen and (max-width: 1540px){
          right: 100px;
        }
        @media screen and (max-width: 1390px){
          max-width: 608px;
          padding: 48px 8px 59px 16px;
        }
        @media screen and (max-width: 990px){
            right: 90px;
        }
        @media screen and (max-width: 960px) {
            border: none;
            padding: 0 0 0 42px;
            right: 0;
            left: 0;
            top: 53px;
            max-width: 100%;
        }
        bottom: 100px;
        box-sizing: border-box;
        .next{
            padding-bottom: 9px;
            @media screen and (max-width: 960px) {
                padding-bottom: 18px;
            }
        }
        .wrapper-content{
            @include flex($align: center);
            @media screen and (max-width: 1390px){
              flex-direction: column;
            }
            .title{
                padding-right: 138px;
                @media screen and (max-width: 1390px){
                  padding-right: 0;
                }
            }
            .button{
                @media screen and (max-width: 1390px){
                  padding-top: 33px;
                }
                &__services{
                    background-color:  #ffffff;
                    box-shadow: 0 10px 43px 0 rgba(0, 0, 0, 0.13);
                    width: 280px;
                    height: 50px;
                    position: relative;
                    padding: 0;
                    cursor: pointer;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    &:hover{
                      box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
                      .button-name{
                        color: #f3c37e;
                      }
                    }
                    &:active{
                      background-color: #f5f2f2;
                    }
                    @media screen and (max-width: 960px) {
                        width: 240px;
                        height: 40px;
                    }
                }
                &__services[disabled]{
                  background-color: rgba(245, 242, 242, 0.6);
                  .button__services{
                    color: #aeacac;
                  }
                }
                &__line{
                    background-color:  $active-page;
                    box-shadow: 0 10px 43px 0 rgba(0, 0, 0, 0.13);
                    width: 240px;
                    height: 4px;
                    position: absolute;
                    bottom: 0;
                    left: 19px;
                    @media screen and (max-width: 960px) {
                        width: 180px;
                        height: 2px;
                    }
                }
            }
        }
    }
}

//==========================================footer===================================

.section-footer{
    width: 100%;
    @include flex($justify: center);
    background: url("../image/background_footer.svg") center bottom / cover no-repeat;
    position: relative;
    .main-logo{
        position: absolute;
        top: 288px;
        left: 772px;
        @media screen and (max-width: 1850px){
          left: 40%;
        }
        @media screen and (max-width: 1390px){
          left: 35%;
        }
        @media screen and (max-width: 1390px){
          left: 33%;
        }
        @media screen and (max-width: 960px){
            top: 90px;
            left: 12%;
        }
        @media screen and (max-width: 860px){
            left: 36%;
        }
        @media screen and (max-width: 720px){
            left: 32%;
        }
        @media screen and (max-width: 620px){
            left: 25%;
        }
        @media screen and (max-width: 460px){
            left: 23%;
        }
        @media screen and (max-width: 380px){
            left: 23%;
        }
        @media screen and (max-width: 340px){
            left: 12%;
        }
        img{
            @media screen and (max-width: 860px){
                width: 228px;
                height: 200px;
            }
        }
    }
    @media screen and (max-width: 990px){
        padding: 0 36px 0 38px;
    }
    @media screen and (max-width: 960px){
        padding: 0;
    }

}

.footer-wrapper{
    @include flex($direction: column, $justify: center, $align: center);
    padding-bottom: 37px;
    border-bottom: 3px solid $black;
    .main-question{
        text-align: center;
        padding: 491px 374px 0 390px;
        @media screen and (max-width: 1850px){
          padding: 491px 125px 0;
        }
        @media screen and (max-width: 960px){
            padding: 185px 36px 0 38px;
        }
    }
    .footer-btn{
        padding: 69px 138px 248px 158px;
        @media screen and (max-width: 960px){
            padding: 40px 0 71px;
        }
        .button{
            border: 4px solid $btn-font;
            background-color: transparent;
            width: 240px;
            height: 63px;
            cursor: pointer;
            @media screen and (max-width: 960px){
                width: 120px;
                height: 31px;
            }
            &:hover{
                background-color: #2a2620;
            }
            &:active{
              background-color: #624a2e;
            }
        }
        .button[disabled]{
          border-color: #605339;
          .font-footer-btn{
            color: #605339;
          }
        }
    }
    .footer-info{
        @include flex($justify: space-between);
        width: 100%;
        box-sizing: border-box;
        padding: 0 119px 0 139px;
        @media screen and (max-width: 1850px){
          padding: 0 24px;
        }
        @media screen and (max-width: 960px){
            justify-content: center;
        }
        .footer-icon{
            @include flex($justify: space-between);
            width: 239px;
          .icon{
            &:first-child{
              padding-right: 32px;
            }
            &:nth-child(2){
              padding-right: 35px;
            }
            &:nth-child(3){
              padding-right: 30px;
            }
            &:nth-child(4){
              padding-right: 36px;
            }
            &:hover{
              cursor: pointer;
              svg path{
                fill: #c68a43;
              }
            }
          }
        }
    }
}

.footer-bottom{
    @include flex($justify: flex-end, $align: center);
    padding: 27px 123px 56px 142px;
    @media screen and (max-width: 1850px){
      padding: 27px 24px 56px 142px;
    }
    @media screen and (max-width: 960px){
        flex-direction: column;
        padding: 32px 20px 21px;
    }
    .author{
        @include flex($align: center);
        &:hover{
          .author__font{
            color: #ffffff;
          }
        }
        @media screen and (max-width: 960px){
            display: none;
        }
        &__icon{
            padding-left: 21px;
        }
    }
    .bottom-copyright{
        padding-top: 14px;
    }
    .bottom-company-email,
    .bottom-copyright{
      display: none;
      @media screen and (max-width: 960px){
        display: block;
      }
      &:hover{
        .font-footer_light,
        .font-footer_dark{
          color: #ffffff;
        }
      }
    }
}

.footer-form{
    @include flex($direction: column);
    width: 742px;
    padding-top: 284px;
    padding-bottom: 330px;
    @media screen and (max-width: 960px){
        width: auto;
        padding: 111px 30px 43px;
    }
    .block-close{
        @include flex($justify: flex-end, $align: center);
        min-height: 24px;
        padding-bottom: 121px;
        @media screen and (max-width: 960px){
            padding-bottom: 45px;
        }
        .icon-close{
          height: 16px;
        }
    }
  .block-title{
    padding-bottom: 36px;
    align-self: center;
    @media screen and (max-width: 960px){
      padding-bottom: 26px;
    }
  }
    .block-form{
        .wrapper-form{
            @include flex($justify: center);
            width: 763px;
            @media screen and (max-width: 960px){
                flex-direction: column;
                width: auto;
                align-items: center;
            }
            .data{
                @include flex($direction: column);
                .elem-form{
                    width: 250px;
                    height: 44px;
                    border: 1px solid $light-orange;
                    background-color: $background-input;
                    padding-left: 21px;
                    box-sizing: border-box;
                    &:invalid{
                      color: #ff5a5a;
                      border-color: #ff5a5a;
                    }
                    &:not(:last-child){
                        margin-bottom: 19px;
                    }
                    @media screen and (max-width: 960px){
                        width: 260px;
                        height: 36px;
                        padding-left: 10px;
                        margin-bottom: 11px;
                    }
                }
            }
            .message{
                padding-left: 20px;
                @media screen and (max-width: 960px){
                    padding-left: 0;
                }
                .elem-textarea{
                    border: 1px solid $light-orange;
                    background-color: $background-input;
                    resize: none;
                    padding-left: 19px;
                    padding-top: 15px;
                    width: 250px;
                    height: 168px;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    @media screen and (max-width: 960px){
                        width: 260px;
                        height: 88px;
                        padding-left: 10px;
                        padding-top: 11px;

                    }
                }
            }
        }
        .form-button{
            @include flex($justify: center);
            padding-top: 47px;
            width: 766px;
            @media screen and (max-width: 960px){
                padding-top: 30px;
                width: auto;
            }
            .btn-send{
                border: 4px solid $btn-font;
                background-color: transparent;
                width: 240px;
                height: 63px;
                cursor: pointer;
                @media screen and (max-width: 960px){
                    width: 120px;
                    height: 31px;
                }
              &:hover{
                background-color: #2a2620;
              }
              &:active{
                background-color: #624a2e;
              }
            }
            .btn-send[disabled]{
              border-color: #605339;
              .font-footer-btn{
                color: #605339;
              }
            }
        }
    }
}

input,
textarea{
  outline: none;
}

.icon-close{
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  &:hover{
    svg path{
      fill: #c68a43;
    }
  }
  &:active{
    svg path{
      fill: #ffffff;
    }
  }
}

.open-footer{
    @media screen and (max-width: 960px){
        width: 100%;
    }
}

.copyright,
.company-email{
  &:hover{
    .font-footer_light,
    .font-footer_dark{
      color: #ffffff;
    }
  }
    @media screen and (max-width: 960px){
        display: none;
    }
}

.form-none{
  display: none;
}

.form-open{
  display: flex;
}

.letter-small{
  text-transform: lowercase;
}