@import url("https://fonts.googleapis.com/css?family=Cabin");
@font-face {
  font-family: "Circe Regular";
  src: url("../font/Circe-Regular.eot");
  src: url("../font/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Circe-Regular.woff") format("woff"), url("../font/Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Circe Bold";
  src: url("../font/Circe-Bold.eot");
  src: url("../font/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Circe-Bold.woff") format("woff"), url("../font/Circe-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Circe ExtraBold";
  src: url("../font/Circe-ExtraBold.eot");
  src: url("../font/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../font/Circe-ExtraBold.woff") format("woff"), url("../font/Circe-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Circe ExtraLight";
  src: url("../font/Circe-ExtraLight.eot");
  src: url("../font/Circe-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../font/Circe-ExtraLight.woff") format("woff"), url("../font/Circe-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.main-title {
  font-family: "Circe ExtraBold", "Roboto", sans-serif;
  font-size: 186px;
  line-height: 174px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 0 20px 90px rgba(36, 33, 31, 0.1);
  text-transform: uppercase;
  letter-spacing: 11px;
}
@media screen and (max-width: 1650px) {
  .main-title {
    font-size: 11vw;
    line-height: 11vw;
  }
}
@media screen and (max-width: 960px) {
  .main-title {
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 4px;
    text-shadow: 0 15px 60px rgba(61, 61, 61, 0.3);
  }
}

.main-question {
  font-family: "Circe Bold", "Roboto", sans-serif;
  font-size: 62px;
  line-height: 80px;
  font-weight: 700;
  color: #ffffff;
}
@media screen and (max-width: 960px) {
  .main-question {
    font-size: 22px;
    line-height: 32px;
    transform: scaleY(1.0009);
  }
}

.content-title {
  font-family: "Circe ExtraBold", "Roboto", sans-serif;
  font-size: 59px;
  line-height: 59px;
  font-weight: 700;
  color: #282828;
  word-spacing: 5.2px;
}
@media screen and (max-width: 960px) {
  .content-title {
    font-size: 24px;
    line-height: 24px;
  }
}

.title-card {
  font-family: "Circe ExtraBold", "Roboto", sans-serif;
  font-size: 49px;
  line-height: 48px;
  font-weight: 700;
  color: #282828;
  letter-spacing: 1px;
}
@media screen and (max-width: 960px) {
  .title-card {
    padding: 86px 0 14px 0;
    font-size: 24px;
    line-height: 24px;
  }
}

.title-form {
  font-family: "Circe ExtraBold", "Roboto", sans-serif;
  font-size: 43px;
  line-height: 39px;
  font-weight: 700;
  color: #ffffff;
}
@media screen and (max-width: 960px) {
  .title-form {
    font-size: 20px;
    line-height: 24px;
  }
}

.font-description {
  font-family: "Circe Regular", "Roboto", sans-serif;
  font-size: 23px;
  line-height: 23px;
  font-weight: 400;
  color: rgba(35, 35, 35, 0.5);
  letter-spacing: 1px;
}
@media screen and (max-width: 960px) {
  .font-description {
    font-size: 12px;
    line-height: 14px;
  }
}

.font-footer-btn {
  font-family: "Circe ExtraBold", "Roboto", sans-serif;
  font-size: 23px;
  line-height: 23px;
  font-weight: 700;
  color: #fecb94;
}
@media screen and (max-width: 960px) {
  .font-footer-btn {
    font-size: 12px;
    line-height: 24px;
  }
}

.font-text {
  font-family: "Cabin", "Roboto", sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: rgba(53, 53, 53, 0.6);
  letter-spacing: 1px;
}
@media screen and (max-width: 960px) {
  .font-text {
    font-size: 12px;
    line-height: 20px;
  }
}

.font-number {
  font-family: "Circe Bold", "Roboto", sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: rgba(53, 53, 53, 0.6);
}

.font-mobile-number {
  font-family: "Circe Regular", "Roboto", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: rgba(53, 53, 53, 0.6);
}

.font-footer_light {
  font-family: "Circe ExtraBold", "Roboto", sans-serif;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #ddb680;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media screen and (max-width: 960px) {
  .font-footer_light {
    font-size: 9px;
    line-height: 14px;
  }
}

.font-footer_dark {
  font-family: "Circe ExtraBold", "Roboto", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: #646363;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media screen and (max-width: 960px) {
  .font-footer_dark {
    font-size: 9px;
    line-height: 14px;
  }
}

.font-placeholder {
  font-family: "Circe ExtraLight", "Roboto", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  color: #dcae7f;
  text-shadow: 0 59px 137px rgba(0, 0, 0, 0.09);
}
@media screen and (max-width: 960px) {
  .font-placeholder {
    font-size: 12px;
    line-height: 12px;
  }
}

.link-process {
  font-family: "Cabin", "Roboto", sans-serif;
  font-size: 13px;
  line-height: 14px;
  font-weight: 400;
  color: rgba(77, 77, 77, 0.5);
  transform: scaleY(1.0023);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.button-name {
  font-family: "Circe Regular", "Roboto", sans-serif;
  font-size: 13px;
  line-height: 14px;
  font-weight: 700;
  color: #202020;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media screen and (max-width: 960px) {
  .button-name {
    font-size: 11px;
    line-height: 14px;
  }
}

.author__font {
  font-family: "Circe ExtraBold", "Roboto", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  color: #6f6f6f;
  text-transform: uppercase;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

::-webkit-input-placeholder {
  color: #dcae7f;
}

::-moz-placeholder {
  color: #dcae7f;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: #dcae7f;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: #dcae7f;
}

.wrapper {
  background-color: #ffffff;
  position: relative;
}

.contact {
  position: absolute;
  top: 228px;
  right: 19px;
}
@media screen and (max-width: 960px) {
  .contact {
    display: none;
  }
}

.nav-icons {
  background-color: #ffffff;
  box-shadow: 0px 30px 180px 0px rgba(0, 0, 0, 0.24);
  width: 64px;
  height: 346px;
}
.nav-icons .social-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}
.nav-icons .social-icon a {
  display: flex;
  height: 100%;
  cursor: pointer;
}
.nav-icons .social-icon:first-child {
  height: 64px;
  border-bottom: 2px solid #f0f0f0;
}
.nav-icons .social-icon:nth-child(2) {
  position: relative;
  height: 93px;
}
.nav-icons .social-icon:nth-child(3) {
  height: 26px;
}
.nav-icons .social-icon:nth-child(4) {
  height: 96px;
}
.nav-icons .social-icon:nth-child(5) {
  height: 28px;
}

.social-lines {
  position: absolute;
  top: 46px;
  right: -36px;
}
.social-lines .line-top {
  position: absolute;
  width: 14px;
  height: 1px;
  background-color: #010101;
}
.social-lines .line-bottom {
  width: 50px;
  height: 1px;
  opacity: 0.25;
  background-color: #010101;
}

.pagination {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: absolute;
  top: 447px;
  left: 148px;
  z-index: 2;
}
@media screen and (max-width: 1540px) {
  .pagination {
    left: 24px;
  }
}
@media screen and (max-width: 960px) {
  .pagination {
    display: none;
  }
}
.pagination__arrow {
  padding: 30px 0 31px 33px;
}
.pagination__arrow-bottom {
  padding: 20px 0 31px 33px;
}
.pagination__content {
  display: flex;
}
.pagination__content .pages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #ffffff;
  box-shadow: 0 20px 90px 0 rgba(36, 33, 31, 0.15);
  width: 75px;
  height: 389px;
}
.pagination__content .pages .active-page {
  position: absolute;
  left: -7px;
  top: -2px;
  background-color: #f9c97b;
  box-shadow: 0 44px 103px 0 rgba(0, 0, 0, 0.09);
  width: 8px;
  height: 80px;
}
.pagination__content .pages .active-page .active {
  color: #f9c97b;
}
.pagination__content .pages .page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 77px;
}
.pagination__content .pages .page:first-child {
  height: 73px;
}
.pagination__content .pages .page:nth-child(2), .pagination__content .pages .page:nth-child(3) {
  height: 77px;
}
.pagination__content .pages .page:nth-child(4), .pagination__content .pages .page:nth-child(5) {
  height: 76px;
}
.pagination__content .pages .page:not(:last-child) {
  border-bottom: 2px solid #ebebea;
}
.pagination__content .pages .page__number {
  transform: rotate(-90deg);
}
.pagination__content .right {
  padding-left: 55px;
}
@media screen and (max-width: 1024px) {
  .pagination__content .right {
    padding-left: 24px;
  }
}
.pagination__content .right .name-pages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 396px;
}
.pagination__content .right .name-pages .name-page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 79px;
}
@media screen and (max-width: 1024px) {
  .pagination__content .right .name-pages .name-page .nonactive-page {
    width: 150px;
  }
}
.pagination__content .right .name-pages .name-page .active-page {
  width: 326px;
  height: 2px;
  background-color: #f4c373;
}
@media screen and (max-width: 1680px) {
  .pagination__content .right .name-pages .name-page .active-page {
    width: 176px;
  }
}
@media screen and (max-width: 1024px) {
  .pagination__content .right .name-pages .name-page .active-page {
    width: 121px;
  }
}

.pagination-mobile {
  display: none;
}
@media screen and (max-width: 960px) {
  .pagination-mobile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    position: absolute;
    bottom: -11px;
    left: calc(50% - 136px);
    height: 40px;
  }
}
.pagination-mobile .arrow-left {
  transform: rotate(-90deg);
}
.pagination-mobile .arrow-right {
  transform: translateX(24px) rotate(90deg);
}
.pagination-mobile__arrow {
  padding: 21px 6px 0 0;
  width: 30px;
}
.pagination-mobile__arrow-bottom {
  padding: 20px 0 31px 33px;
}
.pagination-mobile__content {
  display: flex;
}
.pagination-mobile__content .pages {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #ffffff;
  box-shadow: 0 20px 90px 0 rgba(36, 33, 31, 0.15);
}
.pagination-mobile__content .pages .active-page {
  position: absolute;
  left: 0;
  bottom: -4px;
  background-color: #f9c97b;
  box-shadow: 0 44px 103px 0 rgba(0, 0, 0, 0.09);
  width: 100%;
  height: 4px;
}
.pagination-mobile__content .pages .active-page .active {
  color: #f9c97b;
}
.pagination-mobile__content .pages .page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 12px;
  height: 40px;
}
.pagination-mobile__content .pages .page:not(:last-child) {
  border-right: 1px solid #ebebea;
}

.section-header {
  position: relative;
  height: 1044px;
}
@media screen and (max-width: 960px) {
  .section-header {
    height: 665px;
  }
}

.main-title {
  position: absolute;
  left: 129px;
  top: 139px;
  margin: 0;
  max-width: 876px;
  z-index: 2;
}
@media screen and (max-width: 1540px) {
  .main-title {
    left: 28px;
  }
}
@media screen and (max-width: 1024px) {
  .main-title {
    max-width: 847px;
  }
}
@media screen and (max-width: 960px) {
  .main-title {
    top: 61px;
    max-width: 100%;
    left: calc(50% - 184px);
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: absolute;
  right: 221px;
  top: 232px;
  max-width: 1160px;
  height: 910px;
  box-shadow: 0 30px 120px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  z-index: 1;
}
@media screen and (max-width: 1850px) {
  .card {
    right: 138px;
  }
}
@media screen and (max-width: 1775px) {
  .card {
    right: 125px;
    max-width: 1024px;
  }
}
@media screen and (max-width: 1680px) {
  .card {
    max-width: 977px;
  }
}
@media screen and (max-width: 1540px) {
  .card {
    right: 100px;
  }
}
@media screen and (max-width: 1390px) {
  .card {
    max-width: 608px;
  }
}
@media screen and (max-width: 990px) {
  .card {
    right: 90px;
  }
}
@media screen and (max-width: 960px) {
  .card {
    max-width: 100%;
    right: 0;
    left: 0;
    top: 107px;
    height: auto;
    box-shadow: none;
  }
}
.card__pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  padding: 75px 41px 211px;
}
@media screen and (max-width: 1390px) {
  .card__pagination {
    padding: 75px 24px 146px;
  }
}
@media screen and (max-width: 960px) {
  .card__pagination {
    display: none;
  }
}
.card__pagination .link-process {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.card__pagination img {
  padding-left: 27px;
}
.card__pagination_bottom {
  padding: 73px 41px 211px;
}
@media screen and (max-width: 1390px) {
  .card__pagination_bottom {
    padding: 73px 24px 146px;
  }
}
.card__content {
  padding-left: 140px;
}
@media screen and (max-width: 1775px) {
  .card__content {
    padding-left: 80px;
  }
}
@media screen and (max-width: 1680px) {
  .card__content {
    padding-left: 24px;
  }
}
@media screen and (max-width: 1390px) {
  .card__content {
    padding: 0 24px;
  }
}
@media screen and (max-width: 960px) {
  .card__content {
    padding: 0 20px;
  }
}
.card__content .wrapper-process {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
@media screen and (max-width: 960px) {
  .card__content .wrapper-process {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 960px) {
  .card__content .wrapper-process .process-item .photo-card {
    width: 100%;
    height: auto;
  }
  .card__content .wrapper-process .process-item:first-child {
    position: relative;
  }
}
.card__content .wrapper-process .process-item .title-card {
  padding-bottom: 10px;
}
.card__content .wrapper-process .process-item:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding-left: 40px;
  padding-top: 109px;
}
@media screen and (max-width: 1390px) {
  .card__content .wrapper-process .process-item:nth-child(2) {
    padding-left: 0;
    padding-top: 0;
  }
}
.card__content .wrapper-process .process-item:last-child {
  max-width: 566px;
  padding-top: 63px;
}
@media screen and (max-width: 960px) {
  .card__content .wrapper-process .process-item:last-child {
    padding-top: 32px;
  }
}

.content {
  width: 100%;
  height: 500px;
  background-color: #edecec;
  position: relative;
}
@media screen and (max-width: 960px) {
  .content {
    height: 240px;
  }
}
.content .main {
  max-width: 1160px;
  border: 1px solid #282828;
  padding: 48px 78px 59px 84px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: absolute;
  right: 222px;
  bottom: 100px;
  box-sizing: border-box;
}
@media screen and (max-width: 1850px) {
  .content .main {
    right: 138px;
  }
}
@media screen and (max-width: 1775px) {
  .content .main {
    right: 125px;
    max-width: 1024px;
  }
}
@media screen and (max-width: 1680px) {
  .content .main {
    max-width: 977px;
  }
}
@media screen and (max-width: 1540px) {
  .content .main {
    right: 100px;
  }
}
@media screen and (max-width: 1390px) {
  .content .main {
    max-width: 608px;
    padding: 48px 8px 59px 16px;
  }
}
@media screen and (max-width: 990px) {
  .content .main {
    right: 90px;
  }
}
@media screen and (max-width: 960px) {
  .content .main {
    border: none;
    padding: 0 0 0 42px;
    right: 0;
    left: 0;
    top: 53px;
    max-width: 100%;
  }
}
.content .main .next {
  padding-bottom: 9px;
}
@media screen and (max-width: 960px) {
  .content .main .next {
    padding-bottom: 18px;
  }
}
.content .main .wrapper-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 1390px) {
  .content .main .wrapper-content {
    flex-direction: column;
  }
}
.content .main .wrapper-content .title {
  padding-right: 138px;
}
@media screen and (max-width: 1390px) {
  .content .main .wrapper-content .title {
    padding-right: 0;
  }
}
@media screen and (max-width: 1390px) {
  .content .main .wrapper-content .button {
    padding-top: 33px;
  }
}
.content .main .wrapper-content .button__services {
  background-color: #ffffff;
  box-shadow: 0px 10px 43px 0px rgba(0, 0, 0, 0.13);
  width: 280px;
  height: 50px;
  position: relative;
  padding: 0;
  cursor: pointer;
  border: none;
}
@media screen and (max-width: 960px) {
  .content .main .wrapper-content .button__services {
    width: 240px;
    height: 40px;
  }
}
.content .main .wrapper-content .button__line {
  background-color: #f9c97b;
  box-shadow: 0 10px 43px 0 rgba(0, 0, 0, 0.13);
  width: 240px;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 19px;
}
@media screen and (max-width: 960px) {
  .content .main .wrapper-content .button__line {
    width: 180px;
    height: 2px;
  }
}

.section-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  background: url("../image/background_footer.svg") center bottom/cover no-repeat;
  position: relative;
}
.section-footer .main-logo {
  position: absolute;
  top: 288px;
  left: 772px;
}
@media screen and (max-width: 1850px) {
  .section-footer .main-logo {
    left: 40%;
  }
}
@media screen and (max-width: 1390px) {
  .section-footer .main-logo {
    left: 35%;
  }
}
@media screen and (max-width: 1390px) {
  .section-footer .main-logo {
    left: 33%;
  }
}
@media screen and (max-width: 960px) {
  .section-footer .main-logo {
    top: 90px;
    left: 12%;
  }
}
@media screen and (max-width: 860px) {
  .section-footer .main-logo {
    left: 36%;
  }
}
@media screen and (max-width: 720px) {
  .section-footer .main-logo {
    left: 32%;
  }
}
@media screen and (max-width: 620px) {
  .section-footer .main-logo {
    left: 25%;
  }
}
@media screen and (max-width: 460px) {
  .section-footer .main-logo {
    left: 23%;
  }
}
@media screen and (max-width: 380px) {
  .section-footer .main-logo {
    left: 23%;
  }
}
@media screen and (max-width: 340px) {
  .section-footer .main-logo {
    left: 12%;
  }
}
@media screen and (max-width: 860px) {
  .section-footer .main-logo img {
    width: 228px;
    height: 200px;
  }
}
@media screen and (max-width: 990px) {
  .section-footer {
    padding: 0 36px 0 38px;
  }
}
@media screen and (max-width: 960px) {
  .section-footer {
    padding: 0;
  }
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 37px;
  border-bottom: 3px solid #282828;
}
.footer-wrapper .main-question {
  text-align: center;
  padding: 491px 374px 0 390px;
}
@media screen and (max-width: 1850px) {
  .footer-wrapper .main-question {
    padding: 491px 125px 0;
  }
}
@media screen and (max-width: 960px) {
  .footer-wrapper .main-question {
    padding: 185px 36px 0 38px;
  }
}
.footer-wrapper .footer-btn {
  padding: 69px 138px 248px 158px;
}
@media screen and (max-width: 960px) {
  .footer-wrapper .footer-btn {
    padding: 40px 0 71px;
  }
}
.footer-wrapper .footer-btn .button {
  border: 4px solid #fecb94;
  background-color: transparent;
  width: 240px;
  height: 63px;
}
@media screen and (max-width: 960px) {
  .footer-wrapper .footer-btn .button {
    width: 120px;
    height: 31px;
  }
}
.footer-wrapper .footer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  box-sizing: border-box;
  padding: 0 119px 0 139px;
}
@media screen and (max-width: 1850px) {
  .footer-wrapper .footer-info {
    padding: 0 24px;
  }
}
@media screen and (max-width: 960px) {
  .footer-wrapper .footer-info {
    justify-content: center;
  }
}
.footer-wrapper .footer-info .footer-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 239px;
}
.footer-wrapper .footer-info .footer-icon .icon:first-child {
  padding-right: 32px;
}
.footer-wrapper .footer-info .footer-icon .icon:nth-child(2) {
  padding-right: 35px;
}
.footer-wrapper .footer-info .footer-icon .icon:nth-child(3) {
  padding-right: 30px;
}
.footer-wrapper .footer-info .footer-icon .icon:nth-child(4) {
  padding-right: 36px;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 27px 123px 56px 142px;
}
@media screen and (max-width: 1850px) {
  .footer-bottom {
    padding: 27px 24px 56px 142px;
  }
}
@media screen and (max-width: 960px) {
  .footer-bottom {
    flex-direction: column;
    padding: 32px 20px 21px;
  }
}
.footer-bottom .author {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 960px) {
  .footer-bottom .author {
    display: none;
  }
}
.footer-bottom .author__icon {
  padding-left: 21px;
}
.footer-bottom .bottom-copyright {
  padding-top: 14px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 742px;
  padding-top: 284px;
  padding-bottom: 330px;
}
@media screen and (max-width: 960px) {
  .footer-form {
    width: auto;
    padding: 111px 30px 43px;
  }
}
.footer-form .block-close {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-height: 24px;
  padding-bottom: 121px;
}
@media screen and (max-width: 960px) {
  .footer-form .block-close {
    padding-bottom: 45px;
  }
}
.footer-form .block-close .icon-close {
  height: 16px;
}
.footer-form .block-title {
  padding-bottom: 36px;
  align-self: center;
}
@media screen and (max-width: 960px) {
  .footer-form .block-title {
    padding-bottom: 26px;
  }
}
.footer-form .block-form .wrapper-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: 763px;
}
@media screen and (max-width: 960px) {
  .footer-form .block-form .wrapper-form {
    flex-direction: column;
    width: auto;
    align-items: center;
  }
}
.footer-form .block-form .wrapper-form .data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.footer-form .block-form .wrapper-form .data .elem-form {
  width: 250px;
  height: 44px;
  border: 1px solid #eac28f;
  background-color: rgba(186, 135, 82, 0.03);
  padding-left: 21px;
  box-sizing: border-box;
}
.footer-form .block-form .wrapper-form .data .elem-form:not(:last-child) {
  margin-bottom: 19px;
}
@media screen and (max-width: 960px) {
  .footer-form .block-form .wrapper-form .data .elem-form {
    width: 260px;
    height: 36px;
    padding-left: 10px;
    margin-bottom: 11px;
  }
}
.footer-form .block-form .wrapper-form .message {
  padding-left: 20px;
}
@media screen and (max-width: 960px) {
  .footer-form .block-form .wrapper-form .message {
    padding-left: 0;
  }
}
.footer-form .block-form .wrapper-form .message .elem-textarea {
  border: 1px solid #eac28f;
  background-color: rgba(186, 135, 82, 0.03);
  resize: none;
  padding-left: 19px;
  padding-top: 15px;
  width: 250px;
  height: 168px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 960px) {
  .footer-form .block-form .wrapper-form .message .elem-textarea {
    width: 260px;
    height: 88px;
    padding-left: 10px;
    padding-top: 11px;
  }
}
.footer-form .block-form .form-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding-top: 47px;
  width: 766px;
}
@media screen and (max-width: 960px) {
  .footer-form .block-form .form-button {
    padding-top: 30px;
    width: auto;
  }
}
.footer-form .block-form .form-button .btn-send {
  border: 4px solid #fecb94;
  background-color: transparent;
  width: 240px;
  height: 63px;
}
@media screen and (max-width: 960px) {
  .footer-form .block-form .form-button .btn-send {
    width: 120px;
    height: 31px;
  }
}

@media screen and (max-width: 960px) {
  .open-footer {
    width: 100%;
  }
}

@media screen and (max-width: 960px) {
  .copyright,
.company-email {
    display: none;
  }
}

.form-none {
  display: none;
}

.form-open {
  display: flex;
}

.letter-small {
  text-transform: lowercase;
}

/*# sourceMappingURL=index.css.map */
