@import "./__colors"; 
@import "./_typography"; 
@import "./__button";
@import "./__utillity";

body,
h1,
h2,
h3,
h4{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}

::-webkit-input-placeholder {color:$font-placeholder;}
::-moz-placeholder          {color:$font-placeholder;}/* Firefox 19+ */
:-moz-placeholder           {color:$font-placeholder;}/* Firefox 18- */
:-ms-input-placeholder      {color:$font-placeholder;}

.wrapper{
    background-color: #ffffff;
    position: relative;
}

.contact{
    position: absolute;
    top: 228px;
    right: 36px;
}

.nav-icons{
    background-color:  #ffffff;
    box-shadow: 0px 30px 180px 0px rgba(0, 0, 0, 0.24);
    width: 64px;
    height: 346px;
    .social-icon{
        @include flex($justify: center);
        width: 100%;
        height: 64px;
        a{
            display: flex;
            height: 100%;
            cursor: pointer;
        }
        &:first-child{
            border-bottom: 2px solid #f0f0f0;
        }
        &:nth-child(2){
            position: relative;
        }
    }
}

.social-lines {
    position: absolute;
    top: 32px;
    right: -36px;
    .line-top{
        position: absolute;
        width: 14px;
        height: 1px;
        background-color: #010101;
    }
    .line-bottom{
        width: 50px;
        height: 1px;
        opacity: .25;
        background-color: #010101;
    }
}

.pagination{
    @include flex($direction: column);
    position: absolute;
    top: 477px;
    left: 148px;
    z-index: 2;
    &__arrow{
        padding: 30px 0 31px 33px;
    }
    &__content{
        display: flex;
        .pages{
            @include flex($direction: column);
            background-color: $white;
            box-shadow: 0px 20px 90px 0px rgba(36, 33, 31, 0.15);
            width: 75px;
            height: 396px;
            .active-page{
                position: absolute;
                left: -7px;
                background-color:  #f9c97b;
                box-shadow: 0px 44px 103px 0px rgba(0, 0, 0, 0.09);
                width: 8px;
                height: 80px;
                .active{
                    color: $active-page;
                }
            }
            .page{
                @include flex($justify: center, $align: center);
                position: relative;
                height: 77px;
                &:not(:last-child){
                    border-bottom: 2px solid #ebebea;
                }
                &__number{
                    transform: rotate(-90deg);
                }
            }
        }
        .right{
            padding-left: 57px;
            .name-pages{
                @include flex($direction: column);
                height: 396px;
                .name-page{
                    @include flex($align: center);
                    height: 79px;
                    .active-page{
                        width: 326px;
                        height: 2px;
                        background-color: $active-line;
                    }
                }
            }
        }
    }
}

//=============================header=============================
.section-header{
    position: relative;
    height: 1044px;
}
.main-title{
    position: absolute;
    left: 136px;
    top: 146px;
    margin: 0;
    max-width: 876px;
    z-index: 2;
}
.card{
    @include flex($direction: column);
    position: absolute;
    right: 238px;
    top: 232px;
    max-width: 1160px;
    height: 910px;
    box-shadow: 0px 30px 120px 0px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    z-index: 1;
    &__pagination{
        @include flex($justify: flex-end);
        padding: 60px 41px 196px;
        .link-process{
            @include flex($align: center);
        }
        img{
            padding-left: 27px;
        }
    }
    &__content{
        padding-left: 140px;
        .wrapper-process{
            display: flex;
            flex-wrap: wrap;
            .process-item{
                .title-card{
                    padding-bottom: 20px;
                }
                &:nth-child(2){
                    @include flex($direction: column, $justify: center);
                    padding-left: 40px;
                }
                &:last-child{
                    max-width: 547px;
                    padding-top: 74px;
                }
            }
        }
    }
}

//=========================content================================
.content{
    width: 100%;
    height: 500px;
    background-color: $background-content;
    position: relative;
    .main{
        max-width: 1160px;
        border: 1px solid $black;
        padding: 50px 80px 64px 82px;
        @include flex($direction: column);
        position: absolute;
        right: 238px;
        bottom: 100px;
        .next{
            padding-bottom: 25px;
        }
        .wrapper-content{
            @include flex($align: center);
            .title{
                padding-right: 139px;
            }
            .button{
                &__services{
                    background-color:  #ffffff;
                    box-shadow: 0px 10px 43px 0px rgba(0, 0, 0, 0.13);
                    width: 280px;
                    height: 50px;
                    position: relative;
                    padding: 0;
                    cursor: pointer;
                    border: none;
                }
                &__line{
                    background-color:  $active-page;
                    box-shadow: 0 10px 43px 0 rgba(0, 0, 0, 0.13);
                    width: 240px;
                    height: 4px;
                    position: absolute;
                    bottom: 0;
                    left: 19px;
                }
            }
        }
    }
}

//==========================================footer===================================

.section-footer{
    width: 100%;
    //height: 1234px;
    display: flex;
    justify-content: center;
    background: url("../image/background_footer.svg") center bottom / cover no-repeat;
    position: relative;
    .main-logo{
        position: absolute;
        top: 326px;
        left: 40%;
    }

}

.footer-wrapper{
    @include flex($direction: column, $justify: center, $align: center);
    padding-bottom: 46px;
    border: 3px solid $black;
    .main-question{
        text-align: center;
        padding: 535px 400px 0;
    }
    .footer-btn{
        padding: 78px 138px 251px 142px;
        .button{
            border: 2px solid $btn-font;
            background-color: transparent;
            width: 240px;
            height: 63px;
        }
    }
    .footer-info{
        @include flex($justify: space-between);
        width: 100%;
        box-sizing: border-box;
        padding: 0 138px 0 142px;
        .footer-icon{
            @include flex($justify: space-between);
            width: 239px;
        }
    }
}

.footer-bottom{
    @include flex($justify: flex-end, $align: center);
    padding: 27px 138px 56px 142px;
    .author{
        @include flex($align: center);
        &__icon{
            padding-left: 13px;
        }
    }
}

.footer-form{
    @include flex($direction: column);
    width: 520px;
    height: 372px;
    .block-close{
        @include flex($justify: flex-end);
    }
    .block-form{
        .wrapper-form{
            @include flex($justify: center);
            .data{
                @include flex($direction: column);
                .elem-form{
                    width: 248px;
                    height: 42px;
                    border: 1px solid $light-orange;
                    background-color: $background-input;
                    padding-left: 21px;
                    box-sizing: border-box;
                    &:not(:last-child){
                        margin-bottom: 19px;
                    }
                }
            }
            .message{
                padding-left: 20px;
                .elem-textarea{
                    border: 1px solid $light-orange;
                    background-color: $background-input;
                    resize: none;
                    padding-left: 19px;
                    padding-top: 15px;
                    width: 250px;
                    height: 164px;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                }
            }
        }
        .form-button{
            @include flex($justify: center);
            padding-top: 49px;
            .btn-send{
                border: 2px solid $btn-font;
                background-color: transparent;
                width: 240px;
                height: 63px;
            }
        }
    }
}
